main {
  background-color: black;
  height: 50rem;
}
.columns {
  display: flex;
  flex-direction: row;
  text-align: center;
  vertical-align: center;
  line-height: 10vh;
  color: blue;
  height: 20rem;
}

.column1 {
  display: flex;
  flex-direction: column;
  flex: 3;
  align-items: center;
}

.column2 {
  flex: 6;
  color: white;
  flex-direction: column;
}

.column3 {
  flex: 3;
  color: orange;
}

.title {
  display: flex;
  padding: 2rem;
  justify-content: center;
  font-size: 4rem;
  color: white;
}

.game-board {
  display: flex;
  flex: 6;
  flex-direction: column;
  height: 100%;
  /* box-shadow:
    0 0 2rem 0.5rem #fff, 
    0 0 1rem 0.2rem #f0f, 
    0 0 1rem 0.5rem #0ff;
  */
}

.row {
  display: flex;
  flex: 6;
  flex-direction: row;
  height: 100px;
}

.space-container {
  display: flex;
  cursor: pointer;
  flex: 2;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: grey;
  font-size: 4rem;
}

.space-container:hover {
  background-color: white;
  color: black;
  
}

.button {
  width: 55%;
  margin: 15px 35px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 2rem;
  background-color: white;
  color: red;
  font-size: 2rem;
}

.button:hover {
  background-color: red;
  color: white;
}

.token-style {
  font-size: 4rem;
}